footer, footer p{
 text-align:center;
 background-color:lightblue;
}
.container{
 width:980px !important;
}
.holyoke_logo{
 width:374px;
 margin: 0 auto;
 display:block;
 margin-top:15px;
 margin-bottom:15px;
}
#cssmenu{
 z-index: 1000;
 margin: 0 auto;
 width: 660px;
 margin-bottom:10px;
}
.campus_shot{
 margin-bottom:15px;
}
p{
 text-align:justify;
}
.three_girls{
width:100%;
}
.row{
z-index:-1000;
}
.email_form{
margin-top:40px;text-align:center;margin:0 auto; width:300px;
margin-bottom:40px;
}
.email_form input, .email_form textarea{
text-align:center;
}
.email_form textarea{
 height:100px;
}
